In [1]:
import pandas as pd

In [5]:
from reportlab.lib.pagesizes import letter
from reportlab.pdfgen import canvas

# Create a new PDF document
pdf = canvas.Canvas(r"C:\Users\Ministerio\Desktop\Decreto-277\report.pdf", pagesize=letter)

# Add some text to the PDF document
pdf.drawString(100, 750, "Report Title")
pdf.drawString(100, 700, "Report Date: March 6, 2023")

# Save the PDF document
pdf.save()

In [13]:
df = pd.read_csv(r'C:\Users\Ministerio\Desktop\Decreto-277\bases\out\tabla_ypf.csv')

In [33]:
import docx

# create a new document
doc = docx.Document()

# add a title
title = doc.add_heading('My Report', 0)

# add a subtitle
subtitle = doc.add_heading('Subtitle', level=1)

# add some paragraphs
doc.add_paragraph('Argentina tiene problemas estructurales dentro del mercado de trabajo que han dado lugar a brechas de acceso a la seguridad social: informalidad, desocupación, subocupación, brechas de género en ingresos. Participación que impacta en forma directa en la posibilidad de acceder a un beneficio previsional por la vía contributiva.')
doc.add_paragraph('Ley N° 24.476 (1995) regulariza aportes a partir de los 18 años, entre el 01/01/1955 al 30/09/1993. Requiere una evaluación socioeconómica. Se cancela la deuda al contado o en un plan de hasta 60 cuotas, ajustados semestralmente por el índice de movilidad.')

# add data frame
table = doc.add_table(rows=df.shape[0]+1, cols=df.shape[1])
# add the header row
for j in range(df.shape[-1]):
    table.cell(0,j).text = df.columns[j]
# add the rest of the data frame
for i in range(df.shape[0]):
    for j in range(df.shape[-1]):
        table.cell(i+1,j).text = str(df.values[i,j])
# save the document
doc.save(r'C:\Users\Ministerio\Desktop\Decreto-277\my_report.docx')

In [ ]:
import docx
import pandas as pd

# i am not sure how you are getting your data, but you said it is a
# pandas data frame
df = pd.DataFrame(data)

# open an existing document
doc = docx.Document('./test.docx')

# add a table to the end and create a reference variable
# extra row is so we can add the header row
t = doc.add_table(df.shape[0]+1, df.shape[1])

# add the header rows.
for j in range(df.shape[-1]):
    t.cell(0,j).text = df.columns[j]

# add the rest of the data frame
for i in range(df.shape[0]):
    for j in range(df.shape[-1]):
        t.cell(i+1,j).text = str(df.values[i,j])

# save the doc
doc.save('./test.docx')

In [31]:
def doctable(data, tabletitle, pathfile):
    from docx import Document
    from docx.shared import Pt, Mm
    from docx.enum.section import WD_ORIENT
    import pandas as pd
    document = Document()
    section = document.sections[0]
    section.page_height = Mm(297)
    section.page_width = Mm(210)
    section.left_margin = Mm(20)
    section.right_margin = Mm(20)
    section.top_margin = Mm(20)
    section.bottom_margin = Mm(20)
    section.header_distance = Mm(12.7)
    section.footer_distance = Mm(12.7)
    section = document.sections[-1]
    section.orientation = WD_ORIENT.LANDSCAPE
    data = pd.DataFrame(data) # My input data is in the 2D list form
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    table = doc.add_table(rows=df.shape[0]+1, cols=df.shape[1])
    # add the header row
    for j in range(df.shape[-1]):
        table.cell(0,j).text = df.columns[j]
    # add the rest of the data frame
    for i in range(df.shape[0]):
        for j in range(df.shape[-1]):
            table.cell(i+1,j).text = str(df.values[i,j])
    document.save(pathfile)
    return 0

In [32]:
prueba = doctable(df, 'prueba', r'C:\Users\Ministerio\Desktop\Decreto-277\my_report2.docx')

In [20]:
vars = ['prod_12_gas','coef_offshore_gas','prod_12_aj_gas','linea_base_gas','linea_base_aj_gas','prod_12_pet','linea_base_pet','coef_ajuste',
        'linea_base_aj_pet']

In [21]:
for i in vars:
    df[i]=df[i].round(decimals = 2)

In [22]:
df

,Unnamed: 0,cuenca,areapermisoconcesion,empresa_consorcio,prod_12_gas,coef_offshore_gas,prod_12_aj_gas,linea_base_gas,linea_base_aj_gas,prod_12_pet,linea_base_pet,beneficio_pet,coef_ajuste,linea_base_aj_pet
0,1,ARGENTINA NORTE,CAN_102,YPF S.A.,0.00,0.5,0.00,0.00,0.00,0.00,0.00,False,1.0,0.00
1,17,AUSTRAL,CA-12 BLOQUE I,YPF S.A.,0.00,1.0,0.00,0.00,0.00,0.00,0.00,False,1.0,0.00
2,40,AUSTRAL,EL TURBIO,YPF S.A.,0.00,1.0,0.00,0.00,0.00,0.00,0.00,True,0.9,0.00
3,57,AUSTRAL,LAGO FUEGO,YPF S.A.,64850.77,1.0,64850.77,64622.31,64622.31,5344.48,5318.41,False,1.0,5318.41
4,68,AUSTRAL,LOS CHORRILLOS,YPF S.A.,535.70,1.0,535.70,781.74,781.74,10526.30,9236.29,False,1.0,9236.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,658,NEUQUINA,VOLCAN AUCA MAHUIDA,YPF S.A.,23046.14,1.0,23046.14,22177.57,22177.57,84836.95,93207.70,False,1.0,93207.70
125,666,NOROESTE,ACAMBUCO,YPF S.A.,125453.54,1.0,125453.54,134945.54,134945.54,13141.66,14448.84,True,0.9,13003.96
126,671,NOROESTE,AGUARAGÜE,YPF S.A.,136387.09,1.0,136387.09,167738.15,167738.15,24282.31,33156.85,False,1.0,33156.85
127,688,NOROESTE,RAMOS,YPF S.A.,137236.06,1.0,137236.06,143344.54,143344.54,13781.62,14362.90,False,1.0,14362.90
128,693,NOROESTE,SAN ANTONIO SUR,YPF S.A.,19857.72,1.0,19857.72,20649.44,20649.44,787.16,845.03,False,1.0,845.03

In [34]:
import pandas as pd
from docx import Document
from docx.shared import Inches

In [35]:
df = pd.DataFrame({
    'Name': ['John', 'Alice', 'Bob', 'Jane', 'Eva', 'Mark', 'Mike', 'Lucy'],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female'],
    'Maths': [80, 90, 70, 85, 75, 90, 60, 95],
    'Science': [75, 80, 65, 90, 70, 80, 70, 85],
    'History': [85, 75, 80, 90, 60, 70, 75, 80]
})

In [36]:
df_long = pd.melt(df, id_vars=['Name', 'Gender'], var_name='Subject', value_name='Score')

# Pivot the data into a wide format
df_wide = pd.pivot_table(df_long, values='Score', index=['Name', 'Gender'], columns='Subject').reset_index()

In [37]:
document = Document()

# Add a heading to the document
document.add_heading('Average Score by Subject', level=0)

# Add a table to the document
table = document.add_table(rows=1, cols=4)
hdr_cells = table.rows[0].cells
hdr_cells[0].text = 'Subject'
hdr_cells[1].text = 'Average Score'
hdr_cells[2].text = 'Male Average'
hdr_cells[3].text = 'Female Average'

# Group the data by Subject and calculate the mean scores
grouped = df_long.groupby('Subject').mean()

for index, row in grouped.iterrows():
    # Add a row to the table
    row_cells = table.add_row().cells
    row_cells[0].text = index
    row_cells[1].text = str(row['Score'])

    # Calculate the mean scores by gender
    male_avg = df_wide[df_wide['Gender'] == 'Male'][index].mean()
    female_avg = df_wide[df_wide['Gender'] == 'Female'][index].mean()
    
    row_cells[2].text = str(round(male_avg, 2))
    row_cells[3].text = str(round(female_avg, 2))

# Add a paragraph to the document
document.add_paragraph('The average score by subject is shown in the table above.')

# Save the document
document.save('report.docx')

In [ ]:
pet_api = pet_api.drop(columns=['indice_tiempo',        'anio', 'mes', 'idempresa', 'empresa_informante', 'idareapermisoconcesion', 'idcuenca',  'idprovincia', 'provincia', 'idconcepto', 'concepto', 'cantidad_total_m3', 'cantidad_por_participacion_m3', 'empresa_consorcio', 'participacion', 'fecha_data', 'fecha'])

In [39]:
document = Document()

# Set the margins of the page
sections = document.sections
for section in sections:
    section.top_margin = Inches(1)
    section.bottom_margin = Inches(1)
    section.left_margin = Inches(1)
    section.right_margin = Inches(1)

# Add a heading to the document
document.add_heading('Average Score by Subject', level=0)

# Add a table to the document
table = document.add_table(rows=1, cols=4)
hdr_cells = table.rows[0].cells
hdr_cells[0].text = 'Subject'
hdr_cells[1].text = 'Average Score'
hdr_cells[2].text = 'Male Average'
hdr_cells[3].text = 'Female Average'

# Group the data by Subject and calculate the mean scores
grouped = df_long.groupby('Subject').mean()

# Set the width of the columns
table.columns[0].width = Inches(2)
table.columns[1].width = Inches(2)
table.columns[2].width = Inches(2)
table.columns[3].width = Inches(2)

for index, row in grouped.iterrows():
    # Add a row to the table
    row_cells = table.add_row().cells
    row_cells[0].text = index
    row_cells[1].text = str(row['Score'])

    # Calculate the mean scores by gender
    male_avg = df_wide[df_wide['Gender'] == 'Male'][index].mean()
    female_avg = df_wide[df_wide['Gender'] == 'Female'][index].mean()
    
    row_cells[2].text = str(round(male_avg, 2))
    row_cells[3].text = str(round(female_avg, 2))

# Add a paragraph to the document
document.add_paragraph('The average score by subject is shown in the table above.')

# Save the document
document.save(r'C:\Users\Ministerio\Desktop\Decreto-277\report.docx')

In [40]:
from docx import Document
from docx.enum.table import WD_TABLE_ALIGNMENT
from docx.enum.text import WD_ALIGN_PARAGRAPH
from docx.shared import RGBColor, Pt

document = Document()

# Add a table to the document
table = document.add_table(rows=1, cols=4)
table.alignment = WD_TABLE_ALIGNMENT.CENTER

# Add table header and set style
hdr_cells = table.rows[0].cells
hdr_cells[0].text = 'Subject'
hdr_cells[1].text = 'Average Score'
hdr_cells[2].text = 'Male Average'
hdr_cells[3].text = 'Female Average'
for cell in hdr_cells:
    cell.paragraphs[0].runs[0].bold = True
    cell.paragraphs[0].alignment = WD_ALIGN_PARAGRAPH.CENTER
    cell.width = 1.5

# Set the background color of the header cells
for cell in hdr_cells:
    shading_elm = cell._element.xpath('.//w:shd')[0]
    shading_elm.set('fill', '0066CC')
    shading_elm.set('themeFill', 'text1')
    shading_elm.set('themeFillTint', '50')

# Group the data by Subject and calculate the mean scores
grouped = df_long.groupby('Subject').mean()

# Add rows to the table and set style
for index, row in grouped.iterrows():
    row_cells = table.add_row().cells
    row_cells[0].text = index
    row_cells[1].text = str(round(row['Score'], 2))
    male_avg = df_wide[df_wide['Gender'] == 'Male'][index].mean()
    female_avg = df_wide[df_wide['Gender'] == 'Female'][index].mean()
    row_cells[2].text = str(round(male_avg, 2))
    row_cells[3].text = str(round(female_avg, 2))
    for cell in row_cells:
        cell.width = 1.5
        cell.paragraphs[0].alignment = WD_ALIGN_PARAGRAPH.CENTER

# Set the font color of the cells in the first column to blue
for i in range(1, len(table.rows)):
    cell = table.cell(i, 0)
    cell.paragraphs[0].runs[0].font.color.rgb = RGBColor(0, 102, 204)

# Add a border to the cells in the table
for row in table.rows:
    for cell in row.cells:
        for p in cell.paragraphs:
            for r in p.runs:
                r.font.size = Pt(10)
                r.font.name = 'Calibri'
        tc = cell._element.tcPr
        tc.append(cell._element.xpath('.//w:tcBorders')[0])

# Add a paragraph to the document
document.add_paragraph('The average score by subject is shown in the table above.')

# Save the document
document.save(r'C:\Users\Ministerio\Desktop\Decreto-277\report.docx')

IndexError: list index out of range